body {
background-color: #000000;
background-image: url(./images/Background.jpg);
background-repeat: no-repeat;
background-size: cover;
box-sizing: border-box;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
height: 90vh;
}
div {
align-items: center;
width: 40%;
height: 40px;
padding: 10px 15px;
border-radius: 5px;
border: none;
background-color: #fff;
text-align: center;
margin-top: 50px;
box-sizing: border-box;
}
div:hover {
background-color: #a9acb0;
border: 2px solid #a9acb0;
border-radius: 5px;
padding: 10px 15px;
}
a {
text-decoration: none;
color: #3b3b3b;
}